  body {
            margin: 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(135deg, #66b277, #71bba2);
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
        }

        .login-container {
            background: rgba(238, 240, 242, 0.95);
            padding: 2rem 3rem;
            border-radius: 10px;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
            max-width: 400px;
            width: 100%;
        }

        .btn-primary {
            background: #3305bd4a;
            border: none;
        }

        .btn-primary:hover {
            background: #8f919a;
        }

        .form-label {
            color: blue;
            font-weight: 600;
        }

        .form-control:focus {
            border-color: #0634ca;
            box-shadow: 0 0 0 0.25rem rgba(110, 142, 251, 0.25);
        }
